Repository serai-dex/serai, pull requests merged in 2023-01, with the labels that each got.

#196 DKG Blame
  coins/monero/src/ringct/clsag/multisig.rs
  coins/monero/src/wallet/send/multisig.rs
  crypto/dkg/src/encryption.rs
  crypto/dkg/src/frost.rs
  crypto/dkg/src/lib.rs
  crypto/dkg/src/promote.rs
  crypto/dkg/src/tests/frost.rs
  crypto/dleq/src/cross_group/aos.rs
  crypto/dleq/src/cross_group/bits.rs
  crypto/dleq/src/cross_group/mod.rs
  crypto/dleq/src/cross_group/schnorr.rs
  crypto/dleq/src/lib.rs
  crypto/dleq/src/tests/cross_group/aos.rs
  crypto/dleq/src/tests/cross_group/mod.rs
  crypto/dleq/src/tests/mod.rs
  crypto/frost/src/nonce.rs
  crypto/frost/src/sign.rs
  crypto/frost/src/tests/mod.rs
  crypto/frost/src/tests/vectors.rs
  crypto/transcript/src/merlin.rs
  docs/cryptography/Distributed Key Generation.md
Labels: feature, untested, cryptography

#211 Move to dtolnay/toolchain
  .github/actions/build-dependencies/action.yml
  .github/actions/cached-rust/action.yml
  .github/workflows/daily-deny.yml
  .github/workflows/tests.yml
Labels: improvement, CI/CD

#232 Bitcoin processor
  .github/actions/bitcoin/action.yml
  .github/actions/test-dependencies/action.yml
  Cargo.lock
  coins/bitcoin/Cargo.toml
  coins/bitcoin/LICENSE
  coins/bitcoin/src/crypto.rs
  coins/bitcoin/src/lib.rs
  coins/bitcoin/src/rpc.rs
  coins/bitcoin/src/tests/mod.rs
  coins/bitcoin/src/wallet.rs
  deny.toml
  deploy/coins/bitcoin/Dockerfile
  deploy/coins/bitcoin/scripts/entry-dev.sh
  deploy/coins/monero/Dockerfile
  deploy/coins/monero/scripts/entry-dev.sh
  deploy/docker-compose.yml
  processor/Cargo.toml
  processor/src/coin/bitcoin.rs
  processor/src/coin/mod.rs
  processor/src/coin/monero.rs
  processor/src/tests/bitcoin.rs
  processor/src/tests/mod.rs
  processor/src/tests/send.rs
  processor/src/wallet.rs
Labels: processor
