Repository serai-dex/serai, pull requests merged in 2024-04, with the labels that each got.

#552 fix CLSAG verification.
  coins/monero/src/ringct/clsag/mod.rs
  coins/monero/src/tests/clsag.rs
Labels: bug, critical, monero

#554 Add bootnode code prior used in testnet-internal
  Cargo.lock
  substrate/node/Cargo.toml
  substrate/node/src/chain_spec.rs
  substrate/node/src/command.rs
  substrate/node/src/rpc.rs
  substrate/node/src/service.rs
Labels: feature, node

#560 Rewrite tendermint's message handling loop to much more clearly match the paper
  coordinator/tributary/src/lib.rs
  coordinator/tributary/src/tendermint/mod.rs
  coordinator/tributary/tendermint/src/block.rs
  coordinator/tributary/tendermint/src/ext.rs
  coordinator/tributary/tendermint/src/lib.rs
  coordinator/tributary/tendermint/src/message_log.rs
  coordinator/tributary/tendermint/tests/ext.rs
Labels: improvement, tendermint

#557 Ethereum Integration
  .github/actions/bitcoin/action.yml
  .github/actions/test-dependencies/action.yml
  .github/workflows/coins-tests.yml
  Cargo.lock
  Cargo.toml
  coins/bitcoin/src/wallet/send.rs
  coins/ethereum/.gitignore
  coins/ethereum/Cargo.toml
  coins/ethereum/README.md
  coins/ethereum/alloy-simple-request-transport/Cargo.toml
  coins/ethereum/alloy-simple-request-transport/LICENSE
  coins/ethereum/alloy-simple-request-transport/README.md
  coins/ethereum/alloy-simple-request-transport/src/lib.rs
  coins/ethereum/build.rs
  coins/ethereum/contracts/Deployer.sol
  coins/ethereum/contracts/IERC20.sol
  coins/ethereum/contracts/Router.sol
  coins/ethereum/contracts/Sandbox.sol
  coins/ethereum/contracts/Schnorr.sol
  coins/ethereum/src/abi/mod.rs
  coins/ethereum/src/crypto.rs
  coins/ethereum/src/deployer.rs
  coins/ethereum/src/erc20.rs
  coins/ethereum/src/lib.rs
  coins/ethereum/src/machine.rs
  coins/ethereum/src/router.rs
  coins/ethereum/src/schnorr.rs
  coins/ethereum/src/tests/abi/mod.rs
  coins/ethereum/src/tests/contracts/ERC20.sol
  coins/ethereum/src/tests/contracts/Schnorr.sol
  coins/ethereum/src/tests/crypto.rs
  coins/ethereum/src/tests/mod.rs
  coins/ethereum/src/tests/router.rs
  coins/ethereum/src/tests/schnorr.rs
  deny.toml
  processor/Cargo.toml
  processor/src/lib.rs
  processor/src/main.rs
  processor/src/multisigs/db.rs
  processor/src/multisigs/mod.rs
  processor/src/multisigs/scanner.rs
  processor/src/multisigs/scheduler/mod.rs
  processor/src/multisigs/scheduler/smart_contract.rs
  processor/src/multisigs/scheduler/utxo.rs
  processor/src/networks/bitcoin.rs
  processor/src/networks/ethereum.rs
  processor/src/networks/mod.rs
  processor/src/networks/monero.rs
  processor/src/plan.rs
  processor/src/signer.rs
  processor/src/tests/addresses.rs
  processor/src/tests/literal/mod.rs
  processor/src/tests/scanner.rs
  processor/src/tests/signer.rs
  processor/src/tests/wallet.rs
  spec/integrations/Ethereum.md
  tests/processor/src/lib.rs
  tests/processor/src/tests/send.rs
Labels: feature, ethereum, processor
