Repository serai-dex/serai, pull requests merged in 2024-08, with the labels that each got.

#590 add missing prevotes
  coordinator/tributary/tendermint/src/lib.rs
Labels: bug, improvement, tendermint

#592 update emissions pallet author email
  substrate/emissions/pallet/Cargo.toml
  substrate/emissions/primitives/Cargo.toml
Labels: documentation

#598 Monero: fix signature hash for V1 txs
  networks/monero/src/tests/vectors/transactions.json
  networks/monero/src/transaction.rs
Labels: bug, monero
