Repository serai-dex/serai, pull requests merged in 2024-01, with the labels that each got.

#501 PR to track down CI failures
  Cargo.lock
  common/request/src/lib.rs
  coordinator/Cargo.toml
  coordinator/src/main.rs
  coordinator/src/tributary/db.rs
  message-queue/Cargo.toml
  message-queue/src/client.rs
  message-queue/src/main.rs
  processor/Cargo.toml
  processor/src/main.rs
Labels: bug

#504 Monero: use only the first input ring length for RCT deserialization.
  coins/monero/src/ringct/mlsag.rs
  coins/monero/src/ringct/mod.rs
  coins/monero/src/transaction.rs
Labels: bug, monero

#506 Check miner tx has a miner input when deserializing.
  coins/monero/src/block.rs
Labels: improvement, monero

#519 hyper-rustls 0.26
  Cargo.lock
  common/request/Cargo.toml
  common/request/src/lib.rs
  common/request/src/request.rs
  common/request/src/response.rs
Labels: improvement
